@charset "UTF-8";

html {
  min-width: 800px;
}

#write>*:first-child {
  margin-top: 30px;
}

#write>*:last-child {
  margin-bottom: 30px;
}

#write>h3:before, #write>h4:before, #write>h5:before, #write>h6:before {
  text-decoration: none;
}
/*
pre.md-fences {
  margin-bottom: .25rem;
}*/

ul, ol {
  margin-bottom: .25rem;
}

li p {
  margin: 0;
}

/* body {
  line-height: 1.25rem;
} */

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
}

h3, h4, h5, h6 {
  font-size: 1rem;
}

p {
  margin-bottom: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

th, td {
  padding: 5px;
  vertical-align: middle;
}

th {
  text-align: center;
}

th, th * {
  white-space:nowrap;
}

body {
	counter-reset: h1num;
}

h1 {
	counter-reset: h2num;
}

h2 {
	counter-reset: h3num;
}

h1:before {
	counter-increment: h1num;
	content: counter(h1num) ". "
}

h2:before {
	counter-increment: h2num;
	content: counter(h1num) "." counter(h2num) ". "
}

h3:before {
	counter-increment: h3num;
	content: counter(h1num) "." counter(h2num) "." counter(h3num) ". "
}